/.StatemachineContentAssistTest.java._trace
/.StatemachineContentAssistTest.xtendbin
/.StatemachineFoldingTest.java._trace
/.StatemachineFoldingTest.xtendbin
/.StatemachineHighlightingTest.java._trace
/.StatemachineHighlightingTest.xtendbin
/.StatemachineQuickfixTest.java._trace
/.StatemachineQuickfixTest.xtendbin
/StatemachineContentAssistTest.java
/StatemachineFoldingTest.java
/StatemachineHighlightingTest.java
/StatemachineQuickfixTest.java
