<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated influenceMetamodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fr.inria.kairos.influence.metamodel.influenceMetamodel.presentation.InfluenceMetamodelModelWizardID"
            name="%_UI_InfluenceMetamodelModelWizard_label"
            class="fr.inria.kairos.influence.metamodel.influenceMetamodel.presentation.InfluenceMetamodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/InfluenceMetamodelModelFile.gif">
         <description>%_UI_InfluenceMetamodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated influenceMetamodel -->
      <editor
            id="fr.inria.kairos.influence.metamodel.influenceMetamodel.presentation.InfluenceMetamodelEditorID"
            name="%_UI_InfluenceMetamodelEditor_label"
            icon="icons/full/obj16/InfluenceMetamodelModelFile.gif"
            extensions="influencemetamodel"
            class="fr.inria.kairos.influence.metamodel.influenceMetamodel.presentation.InfluenceMetamodelEditor"
            contributorClass="fr.inria.kairos.influence.metamodel.influenceMetamodel.presentation.InfluenceMetamodelActionBarContributor">
      </editor>
   </extension>

</plugin>
